.section__works {
	background-color: rgb(238, 238, 238);
}

.works__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 10px;
}

.works__item {
	width: 100%;
	overflow: hidden;

	@media screen and (min-width: $table-width) {
		width: calc((100% - (20px * 1)) / 2);
	}

	@media screen and (min-width: $desktop-width) {
		width: calc((100% - (20px * 3)) / 4);
	}

	&:hover .works__link::before {
		transform: translateY(101%);
	}
}

.works__link {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid #afb1b8;
	border-radius: 10px;
	padding: 10px;
	background-color: rgb(144, 156, 144);
	color: rgb(255, 255, 255);
	transition: background 250ms $timing-animation;
	&:hover,
	&:focus {
		background-color: rgba(130, 188, 240);
	}

	@media screen and (min-width: $table-width) {
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 10px;
			background-color: rgba(107, 112, 112, 0.9);
			transition: transform 250ms $timing-animation;
		}
	}
}

.works__title {
	@include font(700, 20px, 22px, 0.03em);
}

.works__text {
	@include font(300, 14px, 16px, 0.03em);
}
