.section__works {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eeeeee;
}

.works__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 10px;
}

.works__item {
	width: 100%;
	overflow: hidden;

	@media screen and (min-width: $table-width) {
		width: calc((100% - (20px * 1)) / 2);
	}

	@media screen and (min-width: $desktop-width) {
		width: calc((100% - (20px * 3)) / 4);
	}

	&:hover .works__link::before {
		transform: translateY(101%);
	}
}

.works__link {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid #afb1b8;
	border-radius: 10px;
	padding: 10px;
	background-color: #909c90;
	color: #ffffff;
	transition: background 250ms $timing-animation;
	&:hover,
	&:focus {
		background-color: #82bcf0;
	}

	@media screen and (min-width: $desktop-width) {
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 10px;
			background-color: rgba(107, 112, 112, 0.9);
			transition: transform 250ms $timing-animation;
			z-index: 1;
		}
	}
}

.works__title {
	margin-top: 5px;
	margin-bottom: 5px;
	@include font(700, 20, 22, 0.03);
}

.works__text {
	@include font(400, 14, 16, 0.03);
}
