:root {
	--white-color: #ffffff;
	--main-title-color: #212121;
	--main-text-color: #757575;
	--main-blue-color: #2196f3;
	--main-fill-color: #afb1b8;
	--fist-background-color: #ffffff;
	--second-background-color: #f5f4fa;
	--footer-background-color: #2f303a;
	--border-color: #eeeeee;
	--background-item-color: #f5f4fa;
	--team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.visually-hiden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	margin: -1px;
}
body {
	background-color: var(--fist-background-color);
	color: var(--main-text-color);
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 14px;
	letter-spacing: 0.03em;
}
button {
	cursor: pointer;
}
img {
	display: block;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
@media screen and (min-width: 480px) {
	.container {
		max-width: 480px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}
.activity-wrap__text,
.benefits__title {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
}
.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}
.main-title-btn {
	min-width: 216px;
	min-height: 50px;
	font-family: inherit;
	background-color: var(--main-blue-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: block;
	margin: 0 auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--white-color);
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	-webkit-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-title-btn:hover,
.main-title-btn:focus {
	background-color: #188ce8;
}
.section-title {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-title-color);
	margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
	.section-title {
		font-size: 36px;
		line-height: 1.16;
		margin-bottom: 50px;
	}
}
.header {
	border: 1px solid #ececec;
}
.header--container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.navigation {
	display: none;
}
@media screen and (min-width: 768px) {
	.navigation {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-right: auto;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.main-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.logo {
	font-family: Raleway, sans-serif;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #000;
}
@media screen and (min-width: 768px) {
	.header-logo {
		margin-right: 88px;
	}
}
@media screen and (min-width: 1200px) {
	.header-logo {
		margin-right: 93px;
	}
}
.header-logo__accent {
	color: var(--main-blue-color);
}
.nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 50px;
}
.nav-list__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 50px;
}
.nav-list__title {
	display: inline-block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-title-color);
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__title:hover,
.nav-list__title:focus {
	color: var(--main-blue-color);
}
.nav-list__title--current {
	color: var(--main-blue-color);
	position: relative;
}
.nav-list__title--current:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	bottom: -1px;
	left: 0;
	background: var(--main-blue-color);
	border-radius: 2px;
}
.contact-mail {
	display: none;
}
@media screen and (min-width: 768px) {
	.contact-mail {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 10px;
	}
}
@media screen and (min-width: 1200px) {
	.contact-mail {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		gap: 50px;
	}
}
.contact-mail__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-text-color);
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-mail__link:hover,
.contact-mail__link:focus {
	color: var(--main-blue-color);
}
.contact-mail__icon {
	fill: currentColor;
	margin-right: 10px;
}
.contact-mail__item {
	display: inline-block;
}
@media screen and (min-width: 1200px) {
	.contact-mail__item {
		padding: 10px;
	}
}
.mob-menu-btn {
	display: block;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	margin-left: auto;
}
.mob-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	background-color: var(--white-color);
	padding: 48px 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	overflow: auto;
}
@media screen and (min-width: 768px) {
	.mob-menu {
		display: none;
	}
}
.mob-close-btn,
.mob-open-btn {
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-close-btn:hover,
.mob-close-btn:focus,
.mob-open-btn:hover,
.mob-open-btn:focus {
	fill: var(--main-blue-color);
}
@media screen and (min-width: 768px) {
	.mob-close-btn,
	.mob-open-btn {
		display: none;
	}
}
.mob-list__item:not(:last-child) {
	margin-bottom: 32px;
}
.mob-list__title {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.175;
	letter-spacing: 0.02em;
	color: var(--main-title-color);
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-list__title:hover,
.mob-list__title:focus {
	color: var(--main-blue-color);
}
.mob-contact__item:not(:last-child) {
	margin-bottom: 32px;
}
.mob-contact__link {
	font-weight: 500;
	font-size: 34px;
	line-height: 1.1764705882;
	letter-spacing: 0.02em;
	color: var(--main-blue-color);
}
@media screen and (max-width: 377px) {
	.mob-contact__link {
		font-size: 26px;
	}
}
.mob-mail__link {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.1666666667;
	letter-spacing: 0.02em;
	color: var(--main-text-color);
}
.mob-soc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 64px;
	margin-bottom: 48px;
}
.mob-soc__item:not(:first-child) {
	padding-left: 10px;
}
.mob-soc__item:not(:last-child) {
	padding-right: 10px;
}
.mob-soc__item:not(:last-child) {
	border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc__link {
	font-weight: 500;
	font-size: 18px;
	line-height: 0.1009174312;
	letter-spacing: 0.02em;
	color: var(--main-blue-color);
}
.main {
	padding-top: 118px;
	padding-bottom: 118px;
	margin-left: auto;
	margin-right: auto;
	background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(47, 48, 58, 0.4)),
			to(rgba(47, 48, 58, 0.4))
		),
		url(../../images/hero/hero-bg-mob.jpg);
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../../images/hero/hero-bg-mob.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
@media (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.main {
		background-image: -webkit-gradient(
				linear,
				left top,
				left bottom,
				from(rgba(47, 48, 58, 0.4)),
				to(rgba(47, 48, 58, 0.4))
			),
			url(../../images/hero/hero-bg-mob-2x.jpg);
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero/hero-bg-mob-2x.jpg);
	}
}
@media screen and (min-width: 480px) {
	.main {
		background-image: -webkit-gradient(
				linear,
				left top,
				left bottom,
				from(rgba(47, 48, 58, 0.4)),
				to(rgba(47, 48, 58, 0.4))
			),
			url(../../images/hero/hero-bg-tab.jpg);
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero/hero-bg-tab.jpg);
	}
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
	screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
	screen and (min-width: 480px) and (min-resolution: 192dpi),
	screen and (min-width: 480px) and (min-resolution: 2dppx) {
	.main {
		background-image: -webkit-gradient(
				linear,
				left top,
				left bottom,
				from(rgba(47, 48, 58, 0.4)),
				to(rgba(47, 48, 58, 0.4))
			),
			url(../../images/hero/hero-bg-tab-2x.jpg);
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero/hero-bg-tab-2x.jpg);
	}
}
@media screen and (min-width: 768px) {
	.main {
		background-image: -webkit-gradient(
				linear,
				left top,
				left bottom,
				from(rgba(47, 48, 58, 0.4)),
				to(rgba(47, 48, 58, 0.4))
			),
			url(../../images/hero/hero-bg-desktop.jpg);
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero/hero-bg-desktop.jpg);
		padding-top: 200px;
		padding-bottom: 200px;
		height: 600px;
		max-width: 1600px;
	}
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
	screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
	screen and (min-width: 768px) and (min-resolution: 192dpi),
	screen and (min-width: 768px) and (min-resolution: 2dppx) {
	.main {
		background-image: -webkit-gradient(
				linear,
				left top,
				left bottom,
				from(rgba(47, 48, 58, 0.4)),
				to(rgba(47, 48, 58, 0.4))
			),
			url(../../images/hero/hero-bg-desktop-2x.jpg);
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero/hero-bg-desktop-2x.jpg);
	}
}
.main__title {
	margin-bottom: 30px;
	margin-top: 0;
	color: var(--white-color);
	font-weight: 900;
	font-size: 26px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
	.main__title {
		font-size: 44px;
		line-height: 1.36;
	}
}
.benefits {
	padding-bottom: 60px;
	padding-top: 60px;
}
@media screen and (min-width: 1200px) {
	.benefits {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
.benefits__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.benefits__item {
	width: 100%;
}
@media screen and (min-width: 768px) {
	.benefits__item {
		width: calc((100% - 30px) / 2);
	}
}
@media screen and (min-width: 1200px) {
	.benefits__item {
		width: calc((100% - 90px) / 4);
	}
}
.benefits__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
	height: 120px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: var(--background-item-color);
}
.benefits__title {
	text-transform: uppercase;
	color: var(--main-title-color);
	margin-bottom: 10px;
}
@media screen and (max-width: 1199px) {
	.benefits__title {
		text-align: center;
	}
}
.benefits__subtitle {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
.activity {
	display: none;
}
@media screen and (min-width: 1200px) {
	.activity {
		display: contents;
	}
}
.activity__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
}
.activity__item {
	width: 100%;
}
.activity-wrap {
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.activity-wrap__text {
	position: absolute;
	background: rgba(47, 48, 58, 0.8);
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: var(--white-color);
	padding-top: 27px;
	padding-bottom: 27px;
	bottom: 0;
	left: 0;
}
.team {
	background-color: var(--second-background-color);
	padding-top: 60px;
	padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
	.team {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
.team-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.team-list-item {
	width: 100%;
	background-color: var(--white-color);
	-webkit-box-shadow: var(--team-card-shadow);
	box-shadow: var(--team-card-shadow);
	border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
	.team-list-item {
		width: calc((100% - 30px) / 2);
	}
}
@media screen and (min-width: 1200px) {
	.team-list-item {
		width: calc((100% - 90px) / 4);
	}
}
.team-name {
	padding-top: 30px;
	padding-bottom: 24px;
	text-align: center;
}
.team-title {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-title-color);
	margin-bottom: 10px;
}
.team-subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
.social-links-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.social-links-item {
	width: 206px;
	height: 44px;
	margin-top: 16px;
	-ms-flex-preferred-size: content;
	flex-basis: content;
}
.social-link {
	width: 44px;
	height: 44px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	fill: var(--main-fill-color);
	border-radius: 50%;
	background-color: var(--fist-background-color);
	-webkit-transition-property: background-color, fill;
	transition-property: background-color, fill;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
	background-color: var(--main-blue-color);
	fill: var(--white-color);
}
.clients {
	padding-bottom: 60px;
	padding-top: 60px;
}
@media screen and (min-width: 1200px) {
	.clients {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
.clients-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.clients-item {
	width: calc((100% - 60px) / 2);
	height: 92px;
}
@media screen and (min-width: 768px) {
	.clients-item {
		width: calc((100% - 90px) / 3);
	}
}
@media screen and (min-width: 1200px) {
	.clients-item {
		width: calc((100% - 150px) / 6);
	}
}
.clients-link {
	width: 100%;
	height: 100%;
	border: 1px solid var(--main-fill-color);
	border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	fill: var(--main-fill-color);
	-webkit-transition-property: border, fill;
	transition-property: border, fill;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
	fill: var(--main-blue-color);
	border: 1px solid var(--main-blue-color);
}
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--footer-background-color);
	text-align: center;
}
@media screen and (min-width: 1200px) {
	.footer {
		text-align: left;
	}
}
.footer-wrap {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}
@media screen and (min-width: 768px) {
	.footer-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		gap: 60px;
	}
}
@media screen and (min-width: 1200px) {
	.footer-wrap {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		gap: 70px;
	}
}
.footer-adress {
	margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
	.footer-adress {
		margin-bottom: 0;
	}
}
.footer-logo {
	display: inline-block;
	margin-bottom: 28px;
}
.footer-logo-accent {
	color: var(--white-color);
}
.footer-list-item:not(:last-child) {
	margin-bottom: 12px;
}
.footer-link-adress {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--white-color);
}
.footer-contact {
	color: rgba(255, 255, 255, 0.6);
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:hover,
.footer-contact:focus {
	color: var(--main-blue-color);
}
.footer-soc-links {
	margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
	.footer-soc-links {
		margin-bottom: 0;
	}
}
.footer-text {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-color);
}
.footer-soc-link-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.footer-soc-link-item {
	max-width: 206px;
	height: 44px;
	margin-top: 20px;
	-ms-flex-preferred-size: content;
	flex-basis: content;
}
.footer-social-link {
	width: 44px;
	height: 44px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	fill: var(--white-color);
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
	background-color: var(--main-blue-color);
}
@media screen and (min-width: 1200px) {
	.footer-form {
		margin-left: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
.footer-label {
	margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
	.footer-subscribe {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}
.footer-input {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	padding-left: 16px;
	color: var(--white-color);
}
@media screen and (min-width: 768px) {
	.footer-input {
		width: 450px;
	}
}
@media screen and (min-width: 1200px) {
	.footer-input {
		margin-right: 12px;
		width: 358px;
		margin-bottom: 0;
	}
}
.subscribe-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.backdrop {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	-webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
		-webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	max-width: 450px;
	min-height: 609px;
	padding: 40px;
	background-color: var(--white-color);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	opacity: 1;
	-webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		-webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 40px;
}
@media screen and (min-width: 1200px) {
	.modal {
		min-width: 528px;
		min-height: 581px;
	}
}
.backdrop.is-hidden .modal {
	-webkit-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
}
.modal-close {
	position: absolute;
	right: 8px;
	top: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1019607843);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition-property: fill;
	transition-property: fill;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
	fill: var(--main-blue-color);
}
.modal-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-title-color);
	margin-bottom: 12px;
}
.modal-wraper {
	margin-bottom: 10px;
}
.input-label {
	display: block;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--main-text-color);
	margin-bottom: 4px;
}
.input-wrapper {
	position: relative;
}
.modal-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0);
	outline: rgba(0, 0, 0, 0);
	padding-left: 42px;
	-webkit-transition-property: border-color;
	transition-property: border-color;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-input:hover {
	border-color: var(--main-blue-color);
}
.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
	fill: var(--main-blue-color);
}
.modal-icon {
	position: absolute;
	left: 12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition-property: border-color;
	transition-property: border-color;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment {
	width: 100%;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: rgba(0, 0, 0, 0);
	resize: none;
	padding-top: 12px;
	padding-left: 16px;
}
.modal-comment::-webkit-input-placeholder {
	font-size: 12px;
	color: rgba(117, 117, 117, 0.5);
	-webkit-transition-property: border-color;
	transition-property: border-color;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::-moz-placeholder {
	font-size: 12px;
	color: rgba(117, 117, 117, 0.5);
	-moz-transition-property: border-color;
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:-ms-input-placeholder {
	font-size: 12px;
	color: rgba(117, 117, 117, 0.5);
	-ms-transition-property: border-color;
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::-ms-input-placeholder {
	font-size: 12px;
	color: rgba(117, 117, 117, 0.5);
	-ms-transition-property: border-color;
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
	font-size: 12px;
	color: rgba(117, 117, 117, 0.5);
	-webkit-transition-property: border-color;
	transition-property: border-color;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus,
.modal-comment:hover {
	border-color: var(--main-blue-color);
}
.checkbox {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	margin: -1px;
}
.checkbox:focus {
	border-color: rgba(0, 0, 0, 0);
	background-color: var(--main-blue-color);
	background-image: url(../images/full-check.svg);
	background-size: contain;
	background-origin: border-box;
}
.checkbox-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.checkbox-icon {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 16px;
	height: 15px;
	margin-right: 7px;
	border: 2px solid #212121;
	border-radius: 2px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: border;
	transition: border;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:focus + .checkbox-icon {
	border: 2px solid var(--main-blue-color);
}
.checkbox:checked + .checkbox-icon {
	border-color: var(--main-blue-color);
	background-color: var(--main-blue-color);
}
.accepted-text {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
	.accepted-text {
		font-size: 14px;
		line-height: 1.71;
	}
}
.checkbox-link {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
	color: var(--main-blue-color);
}
@media screen and (min-width: 1200px) {
	.checkbox-link {
		font-size: 14px;
		line-height: 1.71;
	}
}
.send-btn {
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.portfolio-btn-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 8px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	row-gap: 15px;
	margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
	.portfolio-btn-list {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
	.portfolio-btn-list {
		margin-bottom: 50px;
	}
}
.portfolio-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-title-color);
	background-color: #f5f4fa;
	cursor: pointer;
	border: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 22px;
	padding-right: 22px;
	border-radius: 4px;
	-webkit-transition-property: color, background-color, -webkit-box-shadow;
	transition-property: color, background-color, -webkit-box-shadow;
	transition-property: color, background-color, box-shadow;
	transition-property: color, background-color, box-shadow, -webkit-box-shadow;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:focus,
.portfolio-btn:hover {
	color: var(--white-color);
	background-color: var(--main-blue-color);
	-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--main-title-color);
	margin-bottom: 4px;
}
.portfolio-subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
.portfolio-projects {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
	.portfolio-projects-item {
		width: calc((100% - 30px) / 2);
	}
}
@media screen and (min-width: 1200px) {
	.portfolio-projects-item {
		width: calc((100% - 60px) / 3);
	}
}
.portfolio-project-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-transition-property: -webkit-box-shadow;
	transition-property: -webkit-box-shadow;
	transition-property: box-shadow;
	transition-property: box-shadow, -webkit-box-shadow;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-project-link:hover,
.portfolio-project-link:focus {
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-wrap {
	position: relative;
	overflow: hidden;
}
.hover-text {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(33, 150, 243, 0.9);
	color: var(--white-color);
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	padding-left: 24px;
	padding-right: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition-property: overflow, -webkit-transform;
	transition-property: overflow, -webkit-transform;
	transition-property: transform, overflow;
	transition-property: transform, overflow, -webkit-transform;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-project-link:hover .hover-text,
.portfolio-project-link:focus .hover-text {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	overflow: visible;
}
.portfolio-text-wrap {
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 24px;
	border: 1px solid var(--border-color);
	border-top: none;
} /*# sourceMappingURL=main.min.css.map */
